<a href="https://github.com/wq66618" class="tooltipped" target="_blank" data-tooltip="访问GitHub" data-position="top" data-delay="50">
    <i class="fa fa-github"></i>
</a>
<a href="mailto:wq66618@126.com" class="tooltipped" target="_blank" data-tooltip="邮件联系我" data-position="top" data-delay="50">
    <i class="fa fa-envelope-open"></i>
</a>
<a href="#!" class="tooltipped" data-tooltip="QQ联系我: 330479321" data-position="top" data-delay="50">
    <i class="fa fa-qq"></i>
</a>
<a href="https://www.weibo.com/275857777" class="tooltipped" target="_blank" data-tooltip="访问新浪微博" data-position="top" data-delay="50">
    <i class="fa fa-weibo"></i>
</a>
<% if (config.feed && config.feed.path == 'atom.xml') { %>
<a href="<%- url_for('/atom.xml') %>" class="tooltipped" target="_blank" data-tooltip="RSS 订阅" data-position="top" data-delay="50">
    <i class="fa fa-rss"></i>
</a>
<% } %>